@model BudgetModel
<form method="post">

    <h1>Adding more information </h1>
    <div>
        <label>Name</label>
        <input type="text" asp-for="Name">
    </div>
    <div>
        <label>Description</label>
        <input type="text" asp-for="Description">
    </div>

    <div>
        <label>Price</label>
        <input type="number" asp-for="Price">
    </div>
    <div>
        <label>Quantity</label>
        <input type="number" asp-for="Quantity" >
    </div>
        
    <div>
        <button>SaveChanges</button>
    </div>
</form>






















