
@{
    ViewData["Title"] = "Inventory-Finance Management WebApp";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <!-- Add your CSS stylesheets and scripts here -->
</head>
<body>
<header>
    <h1>@ViewData["Title"]</h1>
</header>
    
<nav>
    <!-- Add navigation links to different sections of your app -->
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/home/privacy">More About Privacy</a></li>
        <li><a href="/home/about">About Our Software </a></li>
        <li><a href="/auth/login"> Log in </a></li>
        <li><a href="/auth/register"> Register new account</a></li>
        <li><a href="/test/test"> Test page here</a></li>

    </ul>
</nav>
    
<main>
    <!-- Main content of your app goes here -->
    <div class="container">
        <h2>Welcome to the Financial Management App</h2>
        <p>Our user-friendly and feature-rich financial management
            app is meticulously crafted to provide you with a comprehensive and personalized approach 
            to managing your finances. Say goodbye to the hassle of tracking your expenses 
            on spreadsheets or deciphering complicated financial statements. With Finance,
            you'll have all the tools and insights you need at your fingertips
            allowing you to take control of your financial future with confidence.</p>
    </div>
</main>
    
<footer>
    <!-- Add footer information, copyright, and contact details -->
    <p>&copy; 2023 GWANG WOO </p>
    <p>Contact: quangdepzaivt03@gmail.com </p>
</footer>
    
<!-- Add your JavaScript scripts here, if needed -->
</body>
</html>
