@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="/auth">auth</a>
<h1>Transactions Tracking</h1>
<h2> Display Transactions</h2>
<h>Data Visualization</h>